@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model FizzBuzz.Models.FizzBuzzModel
@{
    ViewData["Title"] = "Result displaying of FizzBuzzNumbers";
}

<h2>FizzBuzz numbers for input @Model.Input:</h2>
<ul>
    @foreach (var number in Model.FizzBuzzNumbers)
    {
        <li>@number</li>
    }
</ul>
